<article class="w-50">
  <h2>Introducing Angular v17</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed eum illo
    minima doloremque fugiat quaerat obcaecati asperiores minus nisi, cumque
    ullam iste provident quas ipsam tempore culpa eos quisquam!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quis
    deserunt voluptas omnis obcaecati sed accusantium eveniet suscipit porro
    beatae. Libero, consequatur nihil incidunt totam praesentium officiis
    reiciendis deserunt quia!
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias
    unde veritatis consequuntur molestiae, ab quis error quae tempore
    reprehenderit enim nulla nemo ratione fugiat blanditiis ex. Unde, voluptate
    eligendi.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae
    porro enim corporis maxime, esse iste a neque! Sapiente ipsam adipisci culpa
    quisquam ut consequuntur voluptate porro, sed laborum ex!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum
    unde nihil voluptatum libero natus aut atque, quisquam totam corporis soluta
    accusantium, voluptatem sapiente quis nulla possimus autem facere magni!
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellat
    quam voluptas sit minima commodi, veritatis pariatur ipsum voluptatum nihil
    vel quisquam quod aliquid nobis maiores, praesentium recusandae quia
    aperiam.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed eum illo
    minima doloremque fugiat quaerat obcaecati asperiores minus nisi, cumque
    ullam iste provident quas ipsam tempore culpa eos quisquam!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quis
    deserunt voluptas omnis obcaecati sed accusantium eveniet suscipit porro
    beatae. Libero, consequatur nihil incidunt totam praesentium officiis
    reiciendis deserunt quia!
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias
    unde veritatis consequuntur molestiae, ab quis error quae tempore
    reprehenderit enim nulla nemo ratione fugiat blanditiis ex. Unde, voluptate
    eligendi.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae
    porro enim corporis maxime, esse iste a neque! Sapiente ipsam adipisci culpa
    quisquam ut consequuntur voluptate porro, sed laborum ex!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum
    unde nihil voluptatum libero natus aut atque, quisquam totam corporis soluta
    accusantium, voluptatem sapiente quis nulla possimus autem facere magni!
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellat
    quam voluptas sit minima commodi, veritatis pariatur ipsum voluptatum nihil
    vel quisquam quod aliquid nobis maiores, praesentium recusandae quia
    aperiam.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed eum illo
    minima doloremque fugiat quaerat obcaecati asperiores minus nisi, cumque
    ullam iste provident quas ipsam tempore culpa eos quisquam!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quis
    deserunt voluptas omnis obcaecati sed accusantium eveniet suscipit porro
    beatae. Libero, consequatur nihil incidunt totam praesentium officiis
    reiciendis deserunt quia!
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias
    unde veritatis consequuntur molestiae, ab quis error quae tempore
    reprehenderit enim nulla nemo ratione fugiat blanditiis ex. Unde, voluptate
    eligendi.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae
    porro enim corporis maxime, esse iste a neque! Sapiente ipsam adipisci culpa
    quisquam ut consequuntur voluptate porro, sed laborum ex!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum
    unde nihil voluptatum libero natus aut atque, quisquam totam corporis soluta
    accusantium, voluptatem sapiente quis nulla possimus autem facere magni!
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellat
    quam voluptas sit minima commodi, veritatis pariatur ipsum voluptatum nihil
    vel quisquam quod aliquid nobis maiores, praesentium recusandae quia
    aperiam.
  </p>
</article>
<!-- <app-comments /> -->

@defer (on viewport) {
  <app-comments />
} @placeholder {
  <p>Placeholder</p>
} @loading {
  <p>Loading comments...</p>
}
